<main>
  <p-toolbar class="toolbar" [styleClass]="'drag'">
    <div class="p-toolbar-group-left d-flex" style="flex: 1;">
      <img width="20" src="assets/images/accessibility-report.png">
      <input type="text"
          pInputText
          pTooltip="Launch URL in browser"
          [(ngModel)]="url"
          class="p-ml-2 no-drag"
          style="flex: 1; min-width: 1rem;"
          id="url"/>
      <button pButton pRipple type="button"
        icon="pi pi-play"
        class="p-button-text no-drag p-ml-2"
        (click)="launch()"
        pTooltip="Launch URL in browser">
      </button>
      <button pButton pRipple type="button"
        icon="pi pi-bars"
        class="p-button-text no-drag p-ml-2"
        (click)="runAxe()"
        pTooltip="Run Axe">
      </button>
      <button pButton pRipple type="button"
        icon="pi pi-replay"
        class="p-button-text no-drag p-ml-2"
        (click)="clearReports()"
        pTooltip="Clear Reports">
      </button>
      <button pButton pRipple type="button"
        icon="pi pi-times"
        class="p-button-text no-drag p-ml-2"
        (click)="quit()"
        pTooltip="Quit">
      </button>
    </div>
  </p-toolbar>
  <div class="reports">
    <b class="tableheaders p-p-3">Accessibility Reports</b>
    <p-table
      class="table no-drag"
      [value]="reports"
      selectionMode="single"
      [(selection)]="selectedReport"
      dataKey="timestamp"
      (onRowSelect)="onReportSelected($event)"
      (onRowUnselect)="onReportUnselected()"
      [resizableColumns]="true"
      [scrollable]="true"
      scrollHeight="flex">
      <ng-template pTemplate="colgroup">
        <colgroup>
          <col [style.width]="'25%'">
          <col [style.width]="'25%'">
          <col [style.width]="'25%'">
          <col [style.width]="'25%'">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pResizableColumn>URL</th>
          <th pResizableColumn>Timestamp</th>
          <th pResizableColumn>Passed</th>
          <th pResizableColumn>Inapplicable</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-report>
        <tr [pSelectableRow]="report">
          <td>{{ report.url }}</td>
          <td>{{ report.timestamp }}</td>
          <td>
            {{ report.passes.length }}
            <button type="text" pButton
              class="p-ml-2 p-button-secondary p-button-outlined p-button-sm"
              icon="pi pi-check"
              (click)="showPasses($event)"></button>
          </td>
          <td>
            {{ report.inapplicable.length }}
            <button type="text" pButton
              class="p-ml-2 p-button-secondary p-button-outlined p-button-sm"
              icon="pi pi-info"
              (click)="showInapplicableOverlay($event)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <b class="violationsheaders p-p-3">Violations</b>
    <textarea class="violations" p-tooltip="Violations" [(ngModel)]="violations" readonly></textarea>
  </div>
</main>

<p-dialog header="Passes"
  [(visible)]="displayPassesDialog"
  [contentStyle]="{ flex: 1, display: 'flex' }"
  [style]="{ width: '70vw', height: '60vh' }"
  appendTo="body">
  <textarea p-tooltip="Passes" [(ngModel)]="passes" readonly style="flex: 1"></textarea>
</p-dialog>

<p-dialog header="Inapplicable"
  [(visible)]="displayInapplicableDialog"
  [contentStyle]="{ flex: 1, display: 'flex' }"
  [style]="{ width: '70vw', height: '60vh' }"
  appendTo="body">
  <textarea p-tooltip="Inapplicable" [(ngModel)]="inapplicable" readonly style="flex: 1"></textarea>
</p-dialog>
